
            .h1 {
                color :blue;
            }
            #img {
                width: 400px;
            }
            #thirdDiv {
                height: 600px;
                background-color: chocolate;
                padding: 50px;
                border: thick double crimson ;
            }
            #spanId{
                font-size: 18px;
            }



        